body {
  font-family: "BYekan", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(306deg, #3b5998, #8b9dc3);
  background-size: 400% 400%;
  animation: AnimationName 44s ease infinite;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@font-face {
  font-family: "BYekan";
  src: url("../fonts/BYekan.ttf") format("truetype");
}
@keyframes AnimationName {
  0% {
    background-position: 0% 23%;
  }
  50% {
    background-position: 100% 78%;
  }
  100% {
    background-position: 0% 23%;
  }
}
header {
  background: rgba(59, 89, 152, 0.9);
  padding: 20px;
  text-align: center;
  color: white;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
main {
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
h2 {
  color: #3b5998;
  border-bottom: 2px solid #3b5998;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.news-article {
  margin-bottom: 20px;
  text-align: right;
  direction: rtl;
}
.news-article h3 {
  margin: 0;
  color: #3b5998;
}
.news-article p {
  margin: 5px 0;
}
.news-article time {
  color: #777;
  font-size: 14px;
}
footer {
  background: rgba(59, 89, 152, 0.9);
  padding: 10px;
  text-align: center;
  color: white;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}
